* {
      margin: 0px;
      padding: 0px;
}
body {
      background-color:#1a2325;
      font-size: 14px;
      font-color: #FFF;
}
.header { 
      height: 80px;
      width: 100%;
      margin-bottom: 10px;
      border: 10px;
      border-top-style: solid;
      border-color: #f8695a;
}

.headerimg {
      padding-left: 50px;
}

.price {
      margin-top: 30px;
      padding-bottom: 20px;
      width: 100px;
}
.button {
      float:right;
      height: 40px;
      width: 120px;
      background: #01ccce;
      border: 2px solid rgba(33, 68, 72, 0.59);
      color: #FFF;
      line-height: 3;
      text-align-last: center;
      font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}

.content1 {
      float: left;
      padding-top: 100px;
      width: 300px;
      margin-left: 50px; 
      padding-right: 200px;
      padding-bottom: 100px;
      display: inline-block;
      
}

.content2 {
      float: left;
      width: 300px;
      padding-top: 100px;
      margin-left: 50px;
      padding-right: 200px;
      padding-bottom: 100px;
      display: inline-block;
}
.content3 {
      float: left;
      width: 300px;
      padding-top: 100px;
      margin-left: 50px;
      padding-right: 200px;
      padding-bottom: 100px;
      display: inline-block;
}

img.withBorder {
      border: 5px solid #fff;
}


.sale1 {
      padding-top: 100px;
      align-self: auto; 
}
.sale2 {
      padding-top: 100px;
      align-self: auto; 
}
.sale3 {
      padding-top: 100px;
      align-self: auto; 
}
h1 {
      font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
	font-size: 24px;
    color: floralwhite;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
}

h3 {
      font-size: 10px;
      color: lightgrey;
      font-family: Garamond, Baskerville, 'Baskerville Old Face', 'Hoefler Text', 'Times New Roman', serif;
}

h4 {   
      font-size: 14 px;
    font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
      color: #01ccce;
}

p{
      font-size: 11px;
      color: floralwhite;
      font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
}
